<div class="auth-container">
    <div class="logo2">
        <img src="/images/logo.png" alt="CloudClean Logo">
        <span>CloudClean</span>
    </div>

    <h2>Reset Password</h2>

    <% if (errorMessage) { %>
        <div id="error-message" style="color:red; text-align:center; margin-bottom:10px;">
            <%= errorMessage %>
        </div>
    <% } %>
    
    <form action="/reset-password/<%= token %>" method="POST" class="auth-box">
        <input type="password" name="password" placeholder="New Password" required>
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>

        <button class="auth-button">Reset Password</button>
    </form>
</div>
